{% extends "items.html" %}
{%block catg%}
{%endblock%}
{%block itm%}
{%endblock%}
{%block content%}
{%block addcategory%}
{%endblock%}
			<h1>New Item</h1>
			<form style= "display:inline" action="#" method = "POST">
					<label for="name">Name:</label>
					</br>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the item">
				</br></br></br>
					<label for="description">Description:</label></br>
					<textarea maxlength="250" name="description" placeholder="Description of the item"></textarea>
					</br></br>
					<button type="submit" class="action button" style="padding-left: 80px;" id="submit" type="submit">
					<span></span>Create</button>
			</form>
			<a href = '{{url_for('showItems', category_id = category_id)}}'>
				<button type="submit" class="action button" id="submit" type="submit">
				<span></span> Cancel</button>
			</a>
{% endblock %}
